<template>
  <div class="hello">
    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <router-link to="/create" custom>
            <b-button class="rounded-circle px-2">
              <b-icon icon="plus" scale="2"></b-icon>
            </b-button>
          </router-link>
        </b-col>
        <b-col align="right">
          <b-button class="rounded-circle px-2">
            <b-icon icon="dash" scale="2"></b-icon>
          </b-button>
        </b-col>
      </b-row>
      <br />
      <br />
      <b-container fluid align="center">
        <b-row>
          <b-col>
            <router-link to="/training" custom>
              <b-button variant="light" v-b-tooltip.hover title="Biceps">
                <b-img-lazy
                  width="250rem"
                  thumbnail
                  fluid
                  :src="require('../assets/Biceps.png')"
                ></b-img-lazy>
              </b-button>
            </router-link>
          </b-col>
          <b-col>
            <b-button variant="light" v-b-tooltip.hover title="chest">
              <b-img-lazy
                width="250rem"
                thumbnail
                fluid
                :src="require('../assets/chest.png')"
              ></b-img-lazy>
            </b-button>
          </b-col>
        </b-row>
      </b-container>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
};
</script>
<style scoped>
</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->

