<template>
  <div class="hello">
    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <router-link to="/homepage" custom>
            <b-button variant="light" class="rounded-circle px-3">
              <b-icon icon="skip-backward-fill" scale="2">返回</b-icon>
            </b-button>
          </router-link>
        </b-col>
      </b-row>
      <br />
      <br />
      <b-row>
        <b-col class="col-4">
          <br />
          <br />
          <br />
          <br />
          <strong
            ><em
              ><ins
                ><h1 class="display-1">{{ process }}</h1></ins
              ></em
            ></strong
          >
        </b-col>
        <b-col>
          <b-img
            rounded
            thumbnail
            class="border-dark border-2"
            :src="require(`../assets/${currentLang}.png`)"
          />
        </b-col>
      </b-row>
      <br />
      <b-row>
        <b-col align="center">
          <strong><h2 class="display-1 mt-1">Before</h2></strong>
        </b-col>
      </b-row>
      <b-row>
        <b-button-group size="sm">
          <b-button :pressed="true"> 1 </b-button>
          <b-button> 2 </b-button>
          <b-button> 3 </b-button>
          <b-button> 4 </b-button>
          <b-button> 5 </b-button>
        </b-button-group>
      </b-row>
      <b-row>
        <b-button-group size="sm">
          <b-button :pressed="true" variant="light"> 15 </b-button>
          <b-button variant="light"> 15 </b-button>
          <b-button variant="light"> 15 </b-button>
          <b-button variant="light"> 15 </b-button>
          <b-button variant="light"> 15 </b-button>
        </b-button-group>
      </b-row>
      <br />
      <b-row>
        <b-col align="center">
          <strong><h2 class="display-1 mt-1">After</h2></strong>
        </b-col>
      </b-row>
      <b-row>
        <b-button-group size="sm">
          <b-button> 重量 </b-button>
          <b-button> 數量 </b-button>
        </b-button-group>
      </b-row>
      <br />
      <b-row>
        <b-col align="center">
          <b-form-spinbutton
            id="sb-vertical"
            v-model="valueWeight"
            vertical
          ></b-form-spinbutton>
        </b-col>
        <b-col align="center">
          <b-form-spinbutton
            id="sb-vertical"
            v-model="valueTwice"
            vertical
          ></b-form-spinbutton>
        </b-col>
      </b-row>
      <br />
      <br />
      <b-row align="center">
        <b-col>
          <b-button block b-button size="lg"> next </b-button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import uniqueId from "lodash.uniqueid";

export default {
  components: {},
  name: "HelloWorld",
  data() {
    return {
      currentLang: "Biceps",
      position: "",
      item: "",
      myToggle: true,
      myToggle2: false,
      process: "充血",
      valueWeight: 12,
      valueTwice: 12,
      createItem: [{ id: uniqueId("todo-"), label: "Learn Vue" }],
    };
  },
  methods: {
    mytoggle() {
      this.myToggle2 = !this.myToggle;
    },
    mytoggle2() {
      this.myToggle = !this.myToggle2;
    },
  },
};
</script>
<style scoped>
/* .custom-checkbox > .checkbox-label {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  display: block;
  margin-bottom: 5px;
}
.custom-checkbox > .checkbox {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  height: 2.5rem;
  margin-top: 0;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.custom-checkbox > input:focus {
  outline: 3px dashed #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}
.custom-checkbox {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  display: block;
  position: relative;
  min-height: 40px;
  margin-bottom: 10px;
  padding-left: 40px;
  clear: left;
}
.custom-checkbox > input[type="checkbox"] {
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
  margin: 0;
  opacity: 0;
}
.custom-checkbox > .checkbox-label {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  touch-action: manipulation;
}
.custom-checkbox > label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid currentColor;
  background: transparent;
}
.custom-checkbox > input[type="checkbox"]:focus + label::before {
  border-width: 4px;
  outline: 3px dashed #228bec;
}
.custom-checkbox > label::after {
  box-sizing: content-box;
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 18px;
  height: 7px;
  transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  opacity: 0;
  background: transparent;
}
.custom-checkbox > input[type="checkbox"]:checked + label::after {
  opacity: 1;
} */
</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->

