<template>
  <div class="hello">
    <b-container class="bv-example-row">
      <img
        alt="Vue logo"
        src="../assets/Biceps.png"
        style="width:40%;display: block; margin: auto"
      />
      <br>
      <br>
      <b-button-group size="sm">
        <b-button variant="primary" @click="mytoggle" :pressed.sync="myToggle">
          登入
        </b-button>
        <b-button
          variant="primary"
          @click="mytoggle2"
          :pressed.sync="myToggle2"
        >
          註冊
        </b-button>
      </b-button-group>
      <b-form class="mt-3" @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group id="input-group-1" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            placeholder="Enter email"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group class="mt-3" id="input-group-2" label-for="input-2">
          <b-form-input
            id="input-2"
            v-model="form.name"
            placeholder="Enter password"
            required
          ></b-form-input>
        </b-form-group>
        <router-link to="/homepage" custom>
          <b-button class="mt-3 mr-2" type="submit" variant="outline-primary"
            >Submit</b-button
          >
        </router-link>

        <b-button class="mt-3" type="reset" variant="outline-danger"
          >Reset</b-button
        >
      </b-form>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "userLogin",
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      show: true,
      myToggle: true,
      myToggle2: false,
      buttons: {
        state1: true,
        state2: false,
      },
    };
  },
  methods: {
    mytoggle() {
      this.myToggle2 = !this.myToggle;
    },
    mytoggle2() {
      this.myToggle = !this.myToggle2;
    },
    onSubmit(event) {
      event.preventDefault();
      location.href = "/create";
      alert(JSON.stringify(this.form));
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>
<style scoped>
</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->

