<template>
  <div id="app">
    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <b-button variant="light" class="rounded-circle px-3">
            <b-icon icon="skip-backward-fill" scale="2">返回</b-icon>
          </b-button>
        </b-col>
      </b-row>
      <br />
      <br />
      <b-row>
        <b-col>
          <b-dropdown>
            <template slot="button-content">
              <img
                class="img-fluid p-2"
                :src="require(`../assets/${currentLang}.png`)"
                width="150rem"
              />
            </template>
            <b-dropdown-item @click.prevent="currentLang = 'Biceps'">
              <img class="img-fluid p-2" src="../assets/Biceps.png" />
            </b-dropdown-item>
            <b-dropdown-item @click.prevent="currentLang = 'chest'">
              <img class="img-fluid p-2" src="../assets/chest.png" />
            </b-dropdown-item>
          </b-dropdown>
        </b-col>
        <b-col>
          <div>
            <b-form-input
              v-model="position"
              placeholder="position"
              class="mt-5"
            ></b-form-input>
          </div>
        </b-col>
      </b-row>
      <br />
      <b-row>
        <b-button-group size="sm">
          <b-button @click="mytoggle" :pressed.sync="myToggle"> 組數 </b-button>
          <b-button @click="mytoggle2" :pressed.sync="myToggle2">
            秒數
          </b-button>
        </b-button-group>
      </b-row>
      <br />
      <create-name @todo-added="addToDo"></create-name>
      <div style="overflow-y:scroll overflow-x:hidden">
        <div v-for="item in createItem" :key="item.id">
          <create-item
            :label="item.label"
            :done="item.done"
            :id="item.id"
            @item-deleted="deleteToDo(item.id)"
          ></create-item>
        </div>
      </div>
      <br />
      <br />
      <b-row align="center">
        <b-col>
          <b-button block b-button size="lg"> Finish </b-button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import createItem from "../components/createItem.vue";
import createName from "../components/createName.vue";
import uniqueId from "lodash.uniqueid";

export default {
  components: {
    createItem,
    createName,
  },
  name: "app",
  data() {
    return {
      currentLang: "Biceps",
      position: "",
      item: "",
      myToggle: true,
      myToggle2: false,
      createItem: [{ id: uniqueId("todo-"), label: "Learn Vue" }],
    };
  },
  methods: {
    mytoggle() {
      this.myToggle2 = !this.myToggle;
    },
    mytoggle2() {
      this.myToggle = !this.myToggle2;
    },
    addToDo(item) {
      this.createItem.push({
        id: uniqueId("todo-"),
        label: item,
        done: false,
      });
    },
    deleteToDo(toDoId) {
      const itemIndex = this.createItem.findIndex((item) => item.id === toDoId);
      this.createItem.splice(itemIndex, 1);
    },
  },
};
</script>
<style scoped>
/* .custom-checkbox > .checkbox-label {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  display: block;
  margin-bottom: 5px;
}
.custom-checkbox > .checkbox {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  height: 2.5rem;
  margin-top: 0;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.custom-checkbox > input:focus {
  outline: 3px dashed #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}
.custom-checkbox {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  display: block;
  position: relative;
  min-height: 40px;
  margin-bottom: 10px;
  padding-left: 40px;
  clear: left;
}
.custom-checkbox > input[type="checkbox"] {
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
  margin: 0;
  opacity: 0;
}
.custom-checkbox > .checkbox-label {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  touch-action: manipulation;
}
.custom-checkbox > label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid currentColor;
  background: transparent;
}
.custom-checkbox > input[type="checkbox"]:focus + label::before {
  border-width: 4px;
  outline: 3px dashed #228bec;
}
.custom-checkbox > label::after {
  box-sizing: content-box;
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 18px;
  height: 7px;
  transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  opacity: 0;
  background: transparent;
}
.custom-checkbox > input[type="checkbox"]:checked + label::after {
  opacity: 1;
} */
</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->

