<template>
  <div id="item">
    <form @submit.prevent="onSubmit">
      <b-row>
        <b-col cols="9">
          <input v-model.lazy.trim="item" placeholder="item" />
        </b-col>
        <b-col>
          <button type="submit" variant="primary" class="rounded-circle px-1.5">
            <b-icon icon="plus" scale="2"></b-icon>
          </button>
        </b-col>
      </b-row>
    </form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      item:"",
    };
  },
  methods: {
    onSubmit() {
      if (this.item === "") {
        return;
      }
      this.$emit("todo-added", this.item);
      this.item = "";
    },
  },
};
</script>
<style scoped>
</style>