<template>
  <div class="stack-small">
    <br />
    <b-row>
      <b-col>
        <button :id="id" @click="deleteToDo" class="rounded-circle px-1.5">
          <b-icon icon="dash" scale="2"></b-icon>
        </button>
      </b-col>
      <b-col>
        <div class="custom-checkbox">
          <input :id="id" :for="id" v-model="label" />
        </div>
      </b-col>
      <b-col>
        <b-form-select v-model="selected" :options="options"></b-form-select>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  components: {},
  props: {
    label: { required: true, type: String },
    id: { required: true, type: String },
  },
  data() {
    return {
      isEditing: false,
      selected: null,
      options: [
        { text: 1 },
        { text: 2 },
        { text: 3 },
        { text: 4 },
        { text: 5 },
      ],
    };
  },
  computed: {
    isDone() {
      return this.done;
    },
  },
  methods: {
    deleteToDo() {
      this.$emit("item-deleted");
    },
  },
};
</script>
<style scoped>
</style>